doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap' rel='stylesheet')
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src="./js/main.js")  
  link(rel='stylesheet' href='/css/style.min.css')
  title ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ
table.main
  tr
    td
      table.main__header
        tr
          td.main__head-items
            a.main__head-item(href='') Главная
            a.main__head-item.main__head-item_logo(href='') Ваш логотип
            a.main__head-item(href='') Мой аккаунт
      table.main__navigation
        tr
          td.main__nav-items
            a.main__nav-item(href='') Все продукты
            a.main__nav-item(href='') Духи
            a.main__nav-item(href='') Кремы
            a.main__nav-item(href='') Губные помады
      table.main__blackfriday
        tr
          td.main__blackfriday-img
            img.main__blackfriday-stand(src='https://i.postimg.cc/HLMGGsTn/blackfriday-removebg-preview.png' alt='')
          td.main__blackfriday-text
            p.main__text-header.main__text-header_black-font Получите скидку
            p.main__big-letter.main__big-letter_black-font 20%
            p.main__explanation-header.main__explanation-header_black-font На все товары
            a.main__get.main__get_red-font(href='') Получить скидку
      table.main__suncream
        tr
          td.main__cream-tube-img
            img.main__tube-img(src='https://i.postimg.cc/3NKzDXm0/pngwing-com.png' alt='')
          td.main__cream-tube-text
            p.main__text-header.main__text-header_light-font Получите еще
            p.main__big-letter.main__big-letter_light-font 10%
            p.main__explanation-header.main__explanation-header_light-font
              | На новую линию
              br
              | косметики
            a.main__get.main__get_yellow-font(href='') Получить скидку
      table.main__cream
        tr
          td.main__nivea-img
            img.main__jar-img(src='https://i.postimg.cc/L8wd0ZKG/dd19f8529f0b26ffd68ef5fc0d7aa214.jpg' alt='img')
          td.main__nivea-text
            p.main__text-header.main__text-header_black-font Новый крем всего за
            p.main__old-price.main__old-price_black-font 50 руб.
            p.main__big-letter.main__big-letter_black-font 25 руб.
            a.main__buy.main__buy_red-font(href='') Купить
      table.main__cosmetic-bundle
        tr
          td.main__cosmetic-img
            img.main__bundle(src='https://i.postimg.cc/C1CW1PBV/0.jpg' alt='')
          td.main__cosmetic-text
            p.main__text-header.main__text-header_light-font Косметический набор
            p.main__old-price.main__old-price_light-font 300 руб.
            p.main__big-letter.main__big-letter_light-font 125 руб. 
            a.main__buy.main__buy_yellow-font(href='') Купить
      table.main__discount-info
        tr
          td.main__text-box
            p.main__more-discounts Больше скидок на нашем сайте
            a.main__link(href='') Получить больше скидок
      table.main__infobox
        tr
          td.main__copyright
            p.main__copyright-mark &copy; Copyright, 2017, SendPulse
            p.main__copyright-txt
              | Вы получили данную рассылку,
              br
              |                             так как являетесь клиентом
              br
              |                             или подписчиком SendPulse
            a.main__unsubscribe(href='') Отказаться от рассылки
          td.main__adress
            p.main__adress-header Наш адрес:
            p.main__adress-article
              | Mill Mall Tower, 2nd Floor, Wickhams 
              br
              |                             Cay 1, PO Box 4406, Road Town,
              br
              |                             Tortola, B.V.I., VG1120
            p.main__phone Телефон: +38 (044) 290-96-90
